/* Example styles, delete these and style as desired */
/* --------Begining-Responsive Menu style---------------- */
header {
  nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: ($color1);
    // background: @include $primary-color;
    /* background: url(images/matrix.jpg) center top;
	background-size: cover; */
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    z-index: 9999;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      float: left;
    }

    li a,
    .dropbtn {
      display: inline-block;
      color: ($white);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1rem;
    }
    .dropdown-content > a {
      /* //hide */
      display: none;
    }

    .dropdown-content a {
      color: ($red);
      font-weight: bold;
    }

    li a:hover,
    .dropdown:hover .dropbtn {
      background-color: ($red);
    }

    li.dropdown {
      display: inline-block;
    }
    .dropdown-content {
      perspective: 1000px;

      //sass-Anima
      a {
        background-color: rgb(243, 250, 234);
        color: ($dark);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        opacity: 0;
        // running iteration
        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            animation: {
              name: menu1;
              duration: 100ms * $i;
              timing-function: ease-in-out;
              fill-mode: forwards;
            }

            @keyframes menu1 {
              0% {
                opacity: 0;
                transform: rotateY(-90deg) translateY(30px);
              }
              100% {
                opacity: 1;
                transform: rotateY(0deg) translateY(0px);
              }
            }
          }
        }
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: ($white);
      min-width: 160px;
      background-color: ($dark);
      z-index: 1;
    }

    .dropdown-content a:hover {
      background-color: ($color1);
      color: ($white);
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
}

/* -----------Ending-Responsive-Menu-Styling------------- */

// .hero {
// 	height: 100vh;
// 	max-height: rem(800px);
// 	position: relative;
// 	color: #fff;

// 	img {
// 		width: 100%;
// 		height: 100%;
// 		object-fit: cover;
// 	}
// }

// .hero__content {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	padding: rem(20px);
// 	text-align: center;
// }

// .hero__intro {
// 	svg {
// 		width: rem(16px);
// 		height: rem(16px);
// 	}
// }
