main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  .container {
    .flex-grid-3-column {
      display: flex;
      background: white;
      justify-content: space-around;
      background: url("/src/images/compass.jpg") bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      overflow: hidden;
      overflow-x: hidden;
      .left,
      .center,
      .right {
        width: 50%;
        flex-direction: column;
        padding: 0.5rem;
        height: 100%;
        margin: 5px;
        background: ($opacityDark);
        margin: 5px;
        h2 {
          padding: 8px;
          font-size: 1.3rem;
          width: 100%;
          font-weight: light;
          font-family: Megrim, serif;
          span {
            font-style: italic;
            font-size: 1.6rem;
            font-family: Poppins, sans-serif;
            padding-left: 8px;
            font-weight: light;
          }
        }
      }
      .right {
        height: 100vh;
        align-items: center;
        display: flex;
        justify-content: center;
        p {
          padding: 1rem;
          overflow: auto;
        }
      }
    }
  }
}

.one-two {
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  overflow-y: auto;
}
.form-container {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
}
form button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all -0.3s ease;
}

form button:hover {
  background: #d88771;
  color: white;
}

.todo-container {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  color: black;
  background: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s ease;
}
.todo-input {
  padding: 1rem;
  background: #515b5c73;
  color: white;
  letter-spacing: 0.11rem;
  border: none;
}

.todo li {
  flex: 1;
  padding-left: 11px;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: green;
}

.todo-Item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: #515b5c73;
  color: white;
  letter-spacing: 0.03rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25bc";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.4s ease;
}

.select:hover::after {
  background: rgb(223, 214, 214);
  color: #ff6f47;
}

.resetbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.clear-all {
  background: none;
  color: white;
  padding: 9px;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.clear-all:hover {
  background: white;
  color: green;
  cursor: pointer;
}

/* -----------Map-begins------------------ */

.container {
  height: 100%;
  border-top: 1px solid #333c3e;
  position: relative;
  @include background;
  h1 {
    color: orange;
  }
  .section-header {
    font-family: "Megrim", cursive;
    color: #d9ff8a;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: relative;
    background-color: ($opacityDark);
    background-color: ($dark);
  }
}
/* -----------Map-ends------------------ */

#the-body {
  padding: 1.1;
}
iframe {
  height: 100vh;
}

.toggleFade {
  padding: 0.7rem;
  border-radius: 3px;
  border: none;
}
.toggleFade:hover {
  color: white;
  font-weight: bold;
  background: black;
  cursor: pointer;
}

// '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
// '''''''''''''''''''''''''''''''''''''''''''''''''''''''''
// '''''''''''''''''Beats maker .scss'''''''''''''''''

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(160, 211, 224);
}
.snare-pad {
  background: rgb(231, 201, 157);
}
.hihat-pad {
  background: rgb(169, 142, 241);
}
.kick-pad-active {
  background: rgb(65, 175, 209);
}
.snare-pad-active {
  background: rgb(165, 114, 37);
}
.hihat-pad-active {
  background: rgb(77, 48, 156);
}

.hihat-track,
.snare-track,
.kick-track {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 70%;
  margin-top: 2rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}


.play {
  padding: 1rem 2.2rem;
  font-size: 1.5rem;
  background: rgb(27, 206, 107);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 3rem;
}
.play:hover{
  background: yellowgreen;
}

select {
  padding: 1rem;
  font-size: 1rem;
}