

@mixin background {
    background: repeating-linear-gradient(45deg, #1b101067, #1f101579 5px),
     url('/src/images/compass.jpg') bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}